# Build directory
build/

# Object files
*.o

# Executables
*.exe
*.out

# Editor files
.vscode/
.idea/
*.swp
*~

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# VM image files (except seed.img)
qemu_integration/images/*

# TPM state files
qemu_integration/tpm_state/*